@font-face {
  font-family: "Inter";
  src: local("myfont"), url(/Inter-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: "black";
}
@font-face {
  font-family: "Inter";
  src: local("myfont"), url(/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
} 
@font-face {
  font-family: "Inter";
  src: local("myfont"), url(/Inter-Inter-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: "light";
}
@font-face {
  font-family: "Inter";
  src: local("myfont"), url(/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: "regular";
}
@font-face {
  font-family: "Inter";
  src: local("myfont"), url(/Inter-Thin.ttf) format("truetype");
  font-weight: 200;
  font-style: "thin";
}

html,
body {
  font-family: "Inter";
  font-size: 14px;
}
.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.btn .button button {
  outline-style: none !important;
}
